.Rproj.user
.Rhistory
.RData
.data_collections.csv
.vignette_data.csv
.notes_articles.txt
.modis_sin.kmz
.suomi_tiles.rda
config.yml
tests/testthat/data/
GPM_3IMERGDF.06/
MOD11A1.006/
SPL3SMP_E.003/
VNP46A1/
Meta
doc
/doc/
/Meta/
/data_korhogo/
/pkgdown/
vignettes/env_data/
vignettes/env_data_2/
env_data/
env_data_2/
vignettes/data_use_case/
